body{

    background-image:url("https://i.pinimg.com/736x/6b/cc/7f/6bcc7f90504c74f286dca773ecfc7daf.jpg");
    background-size: cover;
    background-attachment:fixed;
    display:flex;

} 

h1{
    text-align:center;
    color: rgb(255, 255, 255);
    background-color: rgb(56, 56, 172);
    max-height:70px;
    font-family:sans-serif;
    margin-bottom: auto;
    border-radius: 30px;
        display:flex;



}

#inemail{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    height:2%;
    border-radius: 10px;
    padding: 5px;
    width:15%;
        display:flex;

    


}

#inpass{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    height:2%;
    border-radius: 10px;
    padding: 5px;
    width:15%;    
    display:flex;

    
 
}

section{
    background-color: rgb(198, 195, 193);
    padding: 50px;
    text-align: center;
    background-position : left top;
    background-size: cover;
    border-radius: 20px;;
    margin:80px;
        display:flex;


}


#lemail{

    font-family:sans-serif;
    font-size:large;
        display:flex;

}

#lpass{
    font-family:sans-serif;
    font-size:large;
        display:flex;

}

 #signb{

    border-radius: 20px;
    background-color:rgb(56, 56, 172);
    color:white;
    font-family:sans-serif;
    padding:10px;
    width:5%;
         display:flex;

}

#clearb{

    border-radius: 20px;
    background-color:rgb(56, 56, 172);
    color:white;
    font-family:sans-serif;
    padding:10px;
    width:5%;
        display:flex;

    
}
#dontb{

    border-radius: 20px;
    background-color:rgb(167, 30, 30);
    color:white;
    font-family:sans-serif;
    padding:10px;
    width:15%;
    margin:auto;
        display:flex;

}

#form2{
    background-color:rgb(198, 195, 193) ;
    text-align:center;
    margin-bottom: auto;
    background-size: cover;
        display:flex;

}

footer{

    background-color:black;
    color:white;
    padding: 0.2%;
    text-align:center;  
    font-family:sans-serif;  
    margin:70px;
    display:flex;

    border-radius:20px;
    
}

#lbirth{
    font-family:sans-serif;
    font-size:large;
        display:flex;

}

#inbirth{

    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    height:2%;
    border-radius: 10px;
    padding: 5px;
    width:15%;
        display:flex;

}

#haveacc{

    border-radius: 20px;
    background-color:rgb(13, 197, 22);
    color:white;
    font-family:sans-serif;
    padding:10px;
    width:15%;
    margin:auto;
        display:flex;


}

#homeb{

    border-radius:20px;
    background-color:rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    width:5%;
        display:flex;

    


}

#aboutb{

    border-radius:20px;
    background-color:rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    color:rgb(56, 56, 172);
    width:5%;
        display:flex;

    
 
}

nav{
    text-align: left;
    text-align: right;
    background-color:rgb(56, 56, 172);
    text-align: center;
    margin-bottom: auto;
    margin:70px;
    border-radius:30px;
    padding: 50px;
        display:flex;


}



h2{
    text-align: center;
    color:rgb(255, 255, 255);
    height:70px;
    font-family:sans-serif;
    background-color: rgb(56, 56, 172);
    border-radius:20px;
    margin: 20px;
    padding:10px;
        display:flex;



    



}

#formsearch{
    text-align: center;
    width:50%;
    margin: auto;
    border-radius: 10px;
        display:flex;

}       

#insearch{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    height:2%;
    border-radius: 10px;
    padding: 20px;
    width:100%;
    margin: auto;
        display:flex;

}

p{
    text-align: center;
    font-family:sans-serif;
        display:flex;

}

table{
    text-align:center;
    width:100%;
        display:flex;

}



#phoneb{
    
    border-radius: 20px;
    background-color:rgb(56, 56, 172);
    color:white;
    font-family:sans-serif;
    height:200px;
    width: 200px;
    text-align: center;
    background-image: url("iPhone-17-Pro-Max2-removebg-preview.png");
    background-size:cover;
        display:flex;

    


    

}

#lapb{

    border-radius: 20px;
    background-color:rgb(56, 56, 172);
    color:white;
    font-family:sans-serif;
    height:200px;
    width: 200px;
    text-align: center;
    background-image: url("f4b6d2bffa10764d4c9038cfb1e23d46-removebg-preview.png");
    background-size:cover;
        display:flex;



}

#accb{

    border-radius: 20px;
    background-color:rgb(56, 56, 172);
    color:white;
    font-family:sans-serif;
    height:200px;
    width:200px;
    text-align: center;
    background-image:url("b0ec45f8e7def0c51b17de114dec7082-removebg-preview.png");
    background-size:80%;
    background-repeat:no-repeat;
    background-position: center;
        display:flex;

    
}

#iphoneb{

    border-radius: 20px;
    background-color:rgb(56, 56, 172);
    color:white;
    font-family:sans-serif;
    padding:10px;
    width:20%;
    text-align: center;
    background-image:url("iPhone-17-Pro-Max2-removebg-preview.png");
    width:200px;
    height:200px;
    background-size:cover;
        display:flex;



}

#samsb{

    border-radius: 20px;
    background-color:rgb(56, 56, 172);
    color:white;
    font-family:sans-serif;
    padding:10px;
    width:20%;
    text-align: center;
    background-image:url("Samsung-Galaxy-S25-Ultra-5G-removebg-preview.png");
    background-size:cover;
    height:200px;
    width: 200px;
        display:flex;



}

#oppob{

    border-radius: 20px;
    background-color:rgb(56, 56, 172);
    color:white;
    font-family:sans-serif;
    padding:10px;
    width:20%;
    text-align: center;
    background-image:url("oppo-reno-14-pro-2-removebg-preview.png");
    background-size:cover;
    height:200px;
    width: 200px;
        display:flex;


}

h3{
    text-align:center;
    font-family:sans-serif;
    color:white;
        display:flex;

}

#buyb{
    border-radius: 20px;
    background-color:rgb(56, 56, 172);
    color:white;
    font-family:sans-serif;
    padding:10px;
    width:30%;
;
        display:flex;

}



#instab{

    border-radius: 30px;
    background-color:rgb(216, 21, 183);
    color:white;
    font-family:sans-serif;
    padding:20px;
    width:100%;
    text-align: center;
        display:flex;

}

#faceb{

    border-radius: 30px;
    background-color:rgb(21, 57, 216);
    color:white;
    font-family:sans-serif;
    padding:20px;
    width:100%;
    text-align: center;
        display:flex;

}

p{
    color: rgb(255, 255, 255);
    font-family:sans-serif;
        display:flex;

    
}

#saleimg{

    background: transparent;
    border:none;
    margin-top: auto;
    text-align: center;
        display:flex;


}

#h2nav{
    text-align: left;
    text-align: right;
    background-color:rgb(56, 56, 172);
    text-align: center;
    margin-bottom: auto;
    margin:70px;
    border-radius:30px;
    padding: 10px;
    width: 80%;
    margin-left: 10%;
        display:flex;


}

div{
    width: 100%;
    text-align: center;
        display:flex;

}

table{

    width: 70%;
    margin-left: 13%;
        display:flex;

  
}
    






